<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag" >
    <section>
        <div class="jumbotron">
            <div class="container">
                <h1 th:text="${message}"></h1>
                <p th:text="${info}"></p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Books</h3>
                        <p>Display all books</p>
                        <p>
                            <a th:href="@{/books}" class="btn btn-default"> <span
                                    class="glyphicon-book glyphicon"/></span> Show all books
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Add book</h3>
                        <p>Create new book</p>
                        <p>
                            <a th:href="@{/books/addBook}" class="btn btn-default"> <span
                                    class="glyphicon-plus-sign glyphicon"/></span> Add book
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3" style="padding-bottom: 15px">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Search book</h3>
                        <p>Search existing book</p>
                        <p>
                            <a th:href="@{/books/searchBook}" class="btn btn-default"> <span
                                    class="glyphicon-zoom-in glyphicon"/></span> Search book
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
