<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Books</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <section>
        <div class="jumbotron">
            <div class="container">
                <h1>Books</h1>
                <p>This page contains all informations about books</p>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <p>Book could not be removed.</p>

            <p>
                <a th:href="@{'/books'}" class="btn btn-default">
                    <span class="glyphicon-hand-left glyphicon"></span> back to all books
                </a>

            </p>
        </div>
    </section>
</div>
</body>
</html>